<!-- <p>what time is it (UTC)?</p>
<p>{{this.timeUTC}}</p>

<p>how long has it been since stream start (in seconds)?</p>
<p>{{this.timeSinceStartInMilliseconds}}</p> -->

<!-- <p>what song should be playing right now?</p>
<p>{{this.nowPlaying.title}}</p> -->

<audio #audioPlayer controls (ended)="this.playNextSong()">
    <source [src]="this.nowPlayingAudioFilePath" type="audio/wav">
    Your browser does not support the audio element.
</audio>

<button class="btn btn-primary" (click)="this.playLivestream()">Play Livestream</button> -->

<div
    class="container-fluid container-sm h-100 h-sm-auto d-flex flex-column flex-sm-row position-sm-absolute vertical-sm-center horizontal-sm-center max-h-sm-vh-75">

    <div class="flex-grow-1 flex-sm-grow-0 col-sm-6 d-flex align-items-center pb-1 pb-sm-auto pe-sm-5">
        <img [src]="this.nowPlaying.albumCoverFilePath"
            alt="Album art for {{this.nowPlaying.album}} by {{this.nowPlaying.artist}}" class="image-fluid">
    </div>

    <div class="col-sm-6 d-sm-flex flex-column justify-content-center ps-sm-5 align-self-sm-end">
        <div class="mb-3 mb-sm-auto d-flex align-items-center">
            <div class="row g-0 m-0">
                <h1 class="col-12 mb-0 fs-sm-3">{{this.nowPlaying.title}}</h1>
                <div class="col-12 col-sm-auto pe-sm-1">from {{this.nowPlaying.album}}</div>
                <div class="col-12 col-sm-auto">by {{this.nowPlaying.artist}}</div>
            </div>
            <button type="button" class="flex-shrink-1 btn btn-light" (click)="this.playLivestream()">
                <img src="./assets/images/tower-broadcast-solid.svg" alt="Radio tower icon"
                    class="img-fluid control-medium">
                LIVESTREAM
            </button>
        </div>

        <div class="mb-3 mb-sm-auto mt-sm-3">
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100" style="height: 0.5rem;">
                <div class="progress-bar" style="width: 25%"></div>
            </div>
            <div class="d-flex justify-content-between">
                <div>9:54 PM</div>
                <div>10:00 PM</div>
            </div>
        </div>

        <div class="my-5 my-sm-4 py-4 py-sm-2 d-flex justify-content-around align-items-center">
            <img src="./assets/images/backward-step-solid.svg" class="img-fluid control-medium" />
            <img src="./assets/images/play-solid.svg" class="img-fluid control-large" />
            <button type="button" class="btn btn-light" (click)="this.playNextSong()">
                <img src="./assets/images/forward-step-solid.svg" class="img-fluid control-medium" />
            </button>
        </div>

        <div class="my-4 my-sm-auto d-flex justify-content-center align-items-center">
            <img src="./assets/images/volume-high-solid.svg" alt="Volume control icon"
                class="img-fluid control-small me-4" />
            <input type="range" class="form-range w-75 ms-4" min="0" max="5" step="0.5" style="height: 0.25rem;">
        </div>
    </div>

</div>