/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

.control-small {
    height: 1.5rem !important;
}

.control-medium {
    height: 2.5rem !important;
}

.control-large {
    height: 4rem !important;
}